body {
    width: auto;
    height: auto;
}

header {
    background-image: url('images/background.png'); 
    background-blend-mode: normal, color;
    width: auto;
    height: 1293px;
    flex-shrink: 0;
    background-size: cover;
    background-position: relatve;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.logo-properties {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    padding-left: 15%;
}

.logo-properties img {
    width: 167.016px;
    height:29.461px;
    flex-shrink: 0;
    color: #FFFFFF;
}

header menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    padding-left: 90px;
    margin-right: 15px;
    justify-content: right;
    word-spacing: 60px;
}

menu {
    display: flex;
    list-style: none;
    margin-right: 30%;
}

menu a {
    text-decoration: none;
    color: white;
    margin-right: 20px; 
}

menu a:hover {
    text-decoration: none;
}

main section div h1 {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 320px;
    margin-left: 620px;
}

.advertise p {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 570px;
    margin-left: 960px;
    justify-content: space-evenly;
    word-spacing: 50px;
    position: absolute;
}

main section div button {
    border-radius: 22px;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    text-align: center;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 660px;
    margin-left: 1000px;
    position: absolute;
}

main section div h2 {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    top: -230px;
    margin-left: 1000px;
}

.smile-winners b {
    color: #C271FF;
}

.smile-winners {
    position: absolute;
}
/*
.round-photo {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    margin: 3% 5% 45px 10%;
    margin-left: 5%;
}

.name {
    display: inline;
    
}

.round-photo img {
    width: 100%;
    height: 100%;
    display: block;
}

.round-photo .name h3 {
    color: #FFFFFF;
    position: absolute;
    display: inline;
}

.round-photo .name p {
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
}

section section {
    background: #C271FF;
    width: 300px;
    height: 300px;
}
.quote-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #C271FF;
    overflow: hidden;
}

.quote-box img {
    width: 100%;
    height: 100%;
    float: left;
}

.quote {
    text-align: right;
    color: #FFFFFF;
}
*/