body {
    width: auto;
    height: auto;
}

header {
    background-image: url('images/background.png'); 
    background-blend-mode: normal, color;
    width: auto;
    height: 1793px;
    flex-shrink: 0;
    background-size: cover;
    background-position: relatve;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.logo-properties {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    padding-left: 15%;
}

.logo-properties img {
    width: 167.016px;
    height:29.461px;
    flex-shrink: 0;
    color: #FFFFFF;
}

header menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    padding-left: 90px;
    margin-right: 15px;
    justify-content: right;
    word-spacing: 60px;
}

menu {
    display: flex;
    list-style: none;
    margin-right: 30%;
}

menu a {
    text-decoration: none;
    color: white;
    margin-right: 20px; 
}

menu a:hover {
    text-decoration: none;
}

main section div h1 {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 320px;
    margin-left: 620px;
}

.advertise p {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 570px;
    margin-left: 960px;
    justify-content: space-evenly;
    word-spacing: 50px;
    position: absolute;
}

main section div button {
    border-radius: 22px;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    text-align: center;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 660px;
    margin-left: 1000px;
    position: absolute;
}

main section div h2 {
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    top: -730px;
    margin-left: 1000px;
}

.smile-winners b {
    color: #C271FF;
}

.smile-winners {
    position: absolute;
}

.round-photo1 {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: -555px;
    margin-left: 350px;
}

.round-photo1 img {
    width: 100%;
    height: 100%;
    display: block;
}

.round-photo2 {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: -555px;
    margin-left: 800px;
}

.round-photo2 img {
    width: 100%;
    height: 100%;
    display: block;
}

.round-photo3 {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    position: absolute;
    top: -555px;
    margin-left: 1250px;
}

.round-photo3 img {
    width: 100%;
    height: 100%;
    display: block;
}

.round-photo4 {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    top: -555px;
    margin-left: 1700px;
    position: absolute;
}

main section div .advertise .name1 h3 {
    color: #FFFFFF;
    position: absolute;
    font-family: "Source Sans Pro";
    font-size: medium;
    line-height: normal;
    bottom: 0;
    z-index: 10;
}

.round-photo .name1 p {
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    font-family: "Source Sans Pro";
}

.purple-background {
    background-color: #C271FF;
    width: 100%;
    height: 570px;
}

.quote-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 2000px;
    margin-left: 400px;
}

.quote-box img {
    width: 100%;
    height: 100%;
}

.quote blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
.quote blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
.quote blockquote p {
    position: absolute;
  }

.video-block {
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
}

.video-block h1 {
    color: black;
    position: absolute;
    top: 2450px;
    margin-left: 1050px;
    font-family: "Source Sans Pro";
    font-size: xx-large;
}
.video-block h1 b {
    color: #C271FF;
}

.diagonal-smile img {
    width: 255px;
    height: 154;
}

.diagonal-smile {
    width: 150%
    height: 150%;
    position: absolute;
    top: 2600px;
    margin-left: 350px;
}

.diagonal-smile p {
    text-wrap: wrap;
    width: 300px;
}

.author-block img {
    width: 30px;
    height: 30px;
}

.sad-smile img {
    width: 255px;
    height: 154;
}

.sad-smile {
    width: 150%
    height: 150%;
    position: absolute;
    top: 2600px;
    margin-left: 650px;
}

.sad-smile p {
    text-wrap: wrap;
    width: 300px;
}

.sad-smile .author-block img {
    width: 30px;
    height: 30px;
}